<div class="containerEmail" >
                <h2 class="mt-2 signup2">Sign Up for the witestock Newsletter!</h3>
                <form class=" mt-2 form" action="/subscribers" method="POST">
                  
                  <fieldset class="form-fieldset ui-input __first">
                    <input type="text" id="username" tabindex="0" />
                    <label for="username">
                      <span data-text="Username">Username</span>
                    </label>
                  </fieldset>
                  
                  <fieldset class="form-fieldset ui-input __second">
                    <input type="email" id="email" tabindex="0" />
                    <label for="email">
                      <span data-text="E-mail Address">E-mail Address</span>
                    </label>
                  </fieldset>
                  
                  <div class="form-footer">
                    <button class="btn-email">Sign Up</button>
                  </div>
                </form>
              </div>
<script src="myscript.js"></script>