<h1 class="mt-4">Dashboard</h1>
<!-- //This is accessing and displaying the name keyvalue pair from home.js  -->
<p class="lead mb-3">Why hello there,  <%= name %> </p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/articles/new"  class='btn btn-success'> New Article</a>
<a href="/" class="btn btn-secondary">All Articles</a>