<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ee027c97e2.js" crossorigin="anonymous"></script>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
        <title>Write • Stock</title>
    </head>
<body >
    <div id="navBody">
        <div id="navBackground">
            <nav id="writestock" class="navbar navbar-expand-lg navbar-dark">
                <a id="homeLink" href="/" class='navbar-brand'>WRITE•STOCK</a>
                <div id="brandLinks">
                    <div class="brandLinks"><i class=" social fab fa-twitter-square" "></i></div>
                    <div class="brandLinks"><i class=" social fab fa-linkedin-square"></i></div>
                    <div class="brandLinks"><i class=" social fab fa-github-square"></i></div>
                </div>
                <button id="hamburgerButton" class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">
                        <!-- This is the search bar  -->
                        <!-- <div class="wrap">
                            <div class="search">
                               <input style="font-size: 15px;" type="text" class="searchTerm" placeholder="This doesn't work yet">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            </div>
                        </div> -->
                        <div class="topBtn">
                            <li class=" btn-sm btn-dark">
                                <a href="/users/login" class="mainbtn">Log In</a>
                            </li>
                        </div>
                        <div class="topBtn">
                            <li class=" btn-sm btn-primary">
                                <a href="/subscribers/subscribe" class="mainbtn ">Subscribe</a>
                            </li>
                        </div>
                        <div class="topBtn">
                            <li class=" btn-sm btn-success">
                                <a href="#" class="mainbtn ">Contact</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>
        </div> 

        <div id="navBackground2">
            <nav id="linkyLinks" class=" sublinks navbar navbar-expand-lg navbar-dark">
                <div class="collapse navbar-collapse">
                    <ul id="linkList" class="navbar-nav">

                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
                            <li class="btn" >
                                <a href="/companyanalysis" class="nav-link">Company Analysis</a>
                            </li>
                        </div>
                        <!-- <div style="display: flex; flex-direction: row;justify-content: flex-start; align-items: center;">
                            <div style="color: rgba(255, 255, 255, 0.747);margin-top: -3px; margin-right: -1.5rem;"><i class="fab fa-github-square"></i></div> -->
                            <li id="ER" class="btn" >
                                <a  href="/earningsreviews" class="nav-link">Earnings Reviews</a>
                            </li>
                        <!-- </div> -->
                        <!-- <div style="display: flex; flex-direction: row;justify-content: flex-start; align-items: center;">
                            <div style="color: rgba(255, 255, 255, 0.747);margin-top: -3px; margin-right: -1.5rem;"><i class="fab fa-github-square"></i></div> -->
                            <li class="btn" >
                                <a href="/sectors" class="nav-link">Sectors & Trends</a>
                            </li>
                        <!-- </div> -->
                        <!-- <div style="display: flex; flex-direction: row;justify-content: flex-start; align-items: center;">
                            <div style="color: rgba(255, 255, 255, 0.747);margin-top: -3px; margin-right: -1.5rem;"><i class="fab fa-github-square"></i></div> -->
                          
                        <!-- </div> -->
                        <!-- <div style="display: flex; flex-direction: row;justify-content: flex-start; align-items: center;">
                            <div style="color: rgba(255, 255, 255, 0.747);margin-top: -3px; margin-right: -1.5rem;"><i class="fab fa-github-square"></i></div> -->
                            <!-- <li class="btn" style="padding-right: 0rem;" >
                                <a href="#" class="nav-link" style="color: rgb(201, 198, 198); margin-left: .5rem; ">International</a>
                            </li> -->
                        <!-- </div> -->
                        <!-- <div style="display: flex; flex-direction: row;justify-content: flex-start; align-items: center;">
                            <div style="color: rgba(255, 255, 255, 0.747);margin-top: -3px; margin-right: -1.5rem;"><i class="fab fa-github-square"></i></div> -->
                            <!-- <li class="btn" style="padding-right: 0rem;" >
                                <a href="#" class="nav-link" style="color: rgb(201, 198, 198);; margin-left: .5rem; ">Newsletter</a>
                            </li> -->
                        <!-- </div> -->
                    </ul>
                </div>
            </nav>
        </div>  
    </div>
    
    <div class=" body">
        <%- body %> 
    </div>
    <!-- <script src="/public/assets/myscript.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> -->
    <!-- <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
