<!-- Container is bootstrap class, same with btn etc etc -->
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="Lucas Bennett">
      <meta name="generator" content="Jekyll v4.0.1">
      <title>Write Stock</title>
  
  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/"> -->
  
      <!-- Bootstrap core CSS -->
  <!-- <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  
      <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
  <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico"> -->
  <!-- <meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml"> -->
  <!-- <meta name="theme-color" content="#563d7c"> -->
  
  
      <!-- <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 500px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style> -->
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <!-- <link href="blog.css" rel="stylesheet"> -->
  </head>
<body>
  <header class="blog-header py-3">
    <div style="background-color: rgb(211, 211, 211, .5); padding-bottom: 1rem; padding-top: 1rem; margin-top: -1rem;"   class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class='btn btn-sm btn-outline-secondary' href="/">Home</a>
      </div>
      <div class="col-4 text-center">
        <a style="text-decoration: none; font-weight: bold; font-size: 40px;"  class="blog-header-logo text-dark" href="/">Write / Stock</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <!-- <a class="text-muted" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24" focusable="false"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a> -->
        <a class="btn btn-sm btn-outline-secondary" href="/users/login">Log In</a>
      </div>
    </div>
  </header>
  <div style="margin-top: 3rem;"   >
    <h1 class="mb-1"><%= article.title %></h1>
    <div style="margin-top: 1rem; padding-bottom: 1rem; border-bottom: 1px solid black; display: flex;" class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %> 
      <div style="color: cornflowerblue; margin-left: 7.5px;"> David Still</div>
    </div>


    <div>
      <%- article.sanitizedHtml %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a  href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
    <br/>
    <br/>
  </div>
  <footer style="color: rgb(173, 56, 56);border-top: 1px solid #000; padding-top: 2rem; padding-bottom: 1rem; display: flex; justify-content: center;">
    <p>&#169 2020 A Still Life Company &#174 </p>
  </footer>  
</body>

