<div class="blog-format">
    <div style="margin: auto; text-align: left; font-size: 22px;">
    <br/>
    <br/>
    
    
    - #### Futu is a quickly growing online brokerage firm based in Hong Kong. Revenue grew 164.6% YoY in its most recent quarter Q2 2020.
    
    
    - #### Futu offers a fully digitized brokerage and wealth management platform. It targets the emerging affluent Chinese population by providing digital services and financial tools to invest their wealth.
    
    
    - #### Backed by Tencent, which remains a strategic partner and investor.
    
    
    - #### Tencent and CEO Leaf Hua Li collectively own 97.3% of the voting shares in Futu.
    
    
    - #### Competition is a key concern, including companies such as Huatai Securities and SoFi Hong Kong.
    <br/>
    
    
    ## Overview:
    
    Futu is a founder-led online brokerage firm that aims to provide digital financial services to affluent Chinese citizens utilizing cutting edge technology. The company provides investing services through its proprietary digital platform, Futu NiuNiu. The service allows Chinese nationals to buy stocks in mainland China, Hong Kong and the U.S. 
    
    The company has been growing like weeds. Revenues increased over 12x between 2016-2019. Growth has not slowed down (yet) either, with 2020 Q1 & Q2 revenues already exceeding 2019’s total revenue: 
     
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 60%; min-width: 50%;" src="https://i.imgur.com/0veaTpA.png" alt="">
    </div>
    <br/>
    
    
    ## Large Addressable Market:
    
    China-based investors’ overseas asset allocation has been increasing quickly, and Futu is attempting to capitalize on this trend. According to Futu’s IPO prospectus from when they went public in March 2019, Chinese-based investors’ overseas asset allocation in stocks reached $0.2 trillion in 2017, representing a 33.8% CAGR from 2012-2017. The asset allocation to stocks is expected to reach $0.7 trillion in 2022:  
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 40%; min-width: 40%;" src="https://imgur.com/Z4sxsjM.png" alt="">
    </div>
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 40%; min-width: 40%;" src="https://imgur.com/FN6IaMR.png" alt="">
    </div>
    <br/>
    
    ## Business Overview:
    
    Futu defines it's core services as:
    - Trading Execution
    - Margin financing and securities lending services
    - Wealth Management Services
     
    Futu’s proprietary digital platform, Futu NiuNiu, is a cloud-based platform that is fully-licensed to conduct securities brokerage and wealth management business. The company’s primary fee-generating services include trade execution and margin financing. Customers can trade various securities such as stocks, warrants, options and ETFs. As part of the platform, Futu provides customers with market data, news, research and analytical tools.  
    <br/>
    
    
    ## Social Initiatives: 
    
    Interestingly, Futu embeds social media tools into its platform through its NiuNiu Community. Through the NiuNiu Community, users can: 
    <br>
    
    - Exchange market views 
    - Watch live broadcasts of corporate events 
    - Participate in investment education courses
    
    According to the company, the social networking aspect is a powerful engagement tool. The NiuNiu Community enhances the Futu NiuNiu platform, offering unique services such as:
    <br/>
    
    -  Community diversity  by connecting users and clients with their peers, company executives and thought leaders such as financial journalists and academics 
    - Extensive content ranging from investing basics to sophisticated analytical guides for professional investors
    -  Digital delivery as the company’s content, such as short-form videos and presentation slides, is designed for digital consumption
    -  Gamification by employing game design elements with the platform which serves to stimulate the investing experience 
    - Platform influence as Futu monitors the NiuNiu Community closely for direct and indirect feedback to evolve the platform
    <br/>
    <br/>
    
    
    ## Corporate Services: 
    
    In addition to the core services described above, Futu provides IPO subscription and ESOP (employee stock ownership plan) solution services to corporate clients. In May 2019, the company launched its enterprise service brand “I&E” to integrate these two solutions. While this service may not seem to have any synergies with its core online trading platform business, CEO Li believe that the enterprise business helps to further build a financial ecosystem:
    <br/>
    
    *“We believe our enterprise business and our online brokerage business are highly complementary and will help us build a unique financial ecosystem that powers the new economy and serves the rapidly growing class of affluent citizens in China 1.”* 
    <br/>
    
    As of December 31 2019, the company had worked with 42 corporate clients to promote their shares to retail investors during their IPOs and has entered into ESOP service contracts with 79 corporate clients.
    <br/>
    <br/>
    
    ## CEO Background & History: 
    
    Futu’s CEO and Chairman of the Board of Directors, Leaf Hua Li, has achieved a lot in his 43 years of being alive. Mr. Li was Tencent’s 18th employee and when he joined the company in 2000, and he worked on well known projects at the company -  including Tencent’s popular messaging platform QQ, along with the video player Tencent Video. He was awarded 23 international and domestic patents during his tenure before going on to start Futu. It probably comes as no surprise that Tencent and Futu are so closely aligned.
    <br/>
    <br/>
    
    ## Operating Metrics - Users, Clients, Paying Clients, & Total Client Assets:
    
    Futu reports the number of users, registered clients and paying clients every quarter. Users are able to receive market data, selected research and information services and engage with the NiuNiu Community free of charge. According to the company, users who have not opened trading accounts represent an important pipeline for client acquisition. In 2019, 67% of new clients were converted from existing users. 
    <br/>
    
    Registered clients refers to the number of users who open one or more trading accounts on Futu’s platform. Paying clients refers to the number of registered clients with actual assets in their trading accounts on Futu’s platform.
    <br/>
    
    It is important to track these metrics overtime and ensure that free users are being converted to paying users. Fortunately this seems to be the case, as the total number of paying clients increased 84.0% YoY to reach 303,102 in Q2 2020 compared to 55.4% growth and 52.1% growth in registered clients and number of users respectively. It seems safe to say that Futu’s strategy of offering free services to attract paying clients and grow AUM is working. The % of registered users that are paying customers also reached a record high 32% in Q2 2020:  
    
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 60%; min-width: 50%;" src="https://imgur.com/mj3DCYB.png" alt="">
        <figcaption>Authors's calculations based on company filings </figcaption>
    </div>
    <br/>
    
    Not only did the growth in paying clients outstrip users and registered clients, but total client assets grew 108.4% YoY to reach $HK142.4 billion in Q2 2020.
    
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 60%; min-width: 50%;" src= "https://imgur.com/QLq77Qr.png alt="">
        <figcaption>Source: Company filings </figcaption>
    </div>
    <br/>
    <br/>
    
    ## Deteriorating U.S. China Relations Providing a Tailwind for Futu:
    
    As a result of deteriorating U.S. China relations, U.S.-listed Chinese companies have been seeking secondary listings in Hong Kong. This trend first began back in November 2019 when Alibaba raised $11 billion in a secondary offering1. 
    <br/>
    
    The success of Alibaba’s secondary did not go unnoticed. JD.com and NetEase, two very successful U.S.-listed chinese companies, had secondaries in June 2020. In the Q2 earnings call, Futu Ceo Li disclosed that their clients’ total subscriptions for both these IPOs exceed HKD 15 billion. He went on to state that this trend is not going away:
    <br/>
    
    _"We believe that the increase in US-listed Chinese companies seeking secondary listing in Hong Kong and the surge of high-profile Hong Kong IPOs will act as major tailwinds to our growth."_
    <br/>
    
    According to KrASIA, a digital media company, CEO Li may be correct. KrASIA quotes GF Securities, a capital markets service provider, that 28 companies meet the requirements for a secondary listing on Hong Kong Stock Exchange2. As mentioned above, JD.com and NetEase had very successful secondaries. In fact, NetEase’s secondary listing was more than 74 times oversubscribed! The KrASIA article provides a nice graphic of eligible companies by market cap. Baidu ranks as the top eligible candidate based on market cap. Below are the top 10:
     
    <br/>
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 40%; min-width: 30%;" src="https://imgur.com/KyRF0PZ.png alt="">
      <figcaption>Source: KrASIA </figcaption>
    </div>
    <br/>
    <br/>
    
    ## Competition: 
    
    In the 2020 Q2 Q&A section of the conference call, Goldman Sachs analyst Weicheng Tang asked Futu management about how they are dealing with competition. Weicheng noted that competition in the sector is rising and how Huatai recently started charging free commissions. In response, CEO Li said that while more competitors will likely follow Huatai’s lead, Futu has not felt any pressure to match Huatai. He went on further to make his case that lower commissions less important than the platform and experience: 
    <br/>
    
    *“And for a long time, Futu has not been the broker that offers the lowest commission rate in the market, but we believe that we're the one that has the strongest overall user experience. So besides charging a commission rate that's significantly lower than industry average, we have the most in-depth market data. We have a very stable trading system that allows for a high-quality trade execution. We have very high quality market news, and a very active social community platform. And these are all very important reasons to attract new customers, and then these all require a long time to establish.”*
    <br/>
    
    In addition to Huaitai, SoFi Hong Kong also offers a zero commission trading platform. SoFi acquired Hong-Kong based investing app 8 Securities in 2020 and rebranded it as SoFi Hong Kong. 8 Securities was the first mobile-only investment service and robo-advisor launched in Asia. Similar to Futu, 8 Securities has social trading features. SoFi Hong Kong retained some of these key features and added additional ones after its acquisition. Similar to Futu, SoFi Hong Kong is growing quickly. According to SoFi Hong Kong CEO Abdulla, new accounts and assets were up 400% in March 2020 compared to the 2019 average.3
    <br/>
    <br/>
    
    
    
    ## Earnings & Valuation: 
    
    As mentioned above, revenues have grown at a very fast clip having increased 11x between 2016 and 2019. 2020 Q1 & Q2 revenues already exceeded the total revenues for 2019. 
    <br/>
    
    Futu has demonstrated impressive operating leverage as the company continues to scale. In its Q2 2020 earnings report, while revenues were up 165% YoY, net income increased 327% during the same quarter:
    <br/>
    <br/>
    
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 60%; min-width: 50%;" src="https://imgur.com/RIWWRZj.png alt="">
    </div>
    
    As a result, net income margin shot up 1,300 basis points in the quarter:
    
    <div style="margin: auto; text-align: center;">
    <figure>
        <img style="margin: 20px auto; display: inline; max-width: 60%; min-width: 50%;" src="https://imgur.com/et5IWI9.png alt="">
    </div>
    <br/>
    
    This is very impressive and not common for young tech companies to be generating these kinds of margins despite investing for growth. 
    <br/>
    
    Futu originally guided for 90,000 new paying clients in 2020. After only two quarters, Futu exceeded this number. As a result, the company guided for 280,000 new paying clients in 2020. Either management grossly underestimated how their platform would resonate with investors, they guided very conservatively, or similar to the Robinhood phenomenon in the U.S., Futu appears to be a beneficiary of the Covid-19 pandemic4. In the U.S., more people have been spending time at home and as a result trading stocks more frequently. This has resulted in large swings in speculative stocks. 
    <br/>
    
    On top of these great results, Futu raised $313.5 million in its first follow-on offering since its IPO in 20195. The company announced that the proceeds would be used to expand its margin financing business and for general corporate purposes. 
    <br/>
    
    As of 9/11/2020, Futu stock was trading around $30.74 per share with a market capitalization of $4.45 billion. Futu did not provide earnings guidance for FY 2020 (only for new paying customers). Futu added around 100,000 paying clients in the first two quarters, meaning the guidance implies 180,000 new adds for the rest of the year. If this is the case, then revenues for the balance of the year should handily exceed revenue for the first two quarters. Q1 and Q2 revenues were around $150 million. Q3 & Q4 revenue should exceed this figure, meaning FY 2020 revenues will be at least $300 million and likely higher. At a $4.45 billion dollar valuation, this puts the EV/S ratio at just under 15. This valuation is not demanding considering the growth and profitability of the company. 
    <br/>
    <br/>
    
    ## Conclusion: 
    
    Futu is firing on all cylinders. It is profitable, backed by the formidable Tencent, and is a beneficiary of Covid-19 pandemic. 
    Growth investors should know that scaled hypergrowth + operational leverage = scaled profits. For this reason one should be willing to pay up for quality growth stocks. Fortunately this is how it is playing out for Futu.
    <br/>
    
    How long will this fast growth last? While Covid-19 pandemic may have been a short-term boost for the company, the online brokerage market in China is still relatively underdeveloped compared to developed countries. Futu undoubtedly faces competition from well financed companies such as SoFi Hong Kong and Huatai. However, similar to the U.S. and other markets, this is not a winner-take-all market. The affluent Chinese population is certainly large enough to support multiple winners. 
    <br/>
    
    Futu appears to be a well run company operating in a fast growing market. The key differentiator for Futu will likely be its tech prowess and how it continues to enhance its platform to attract new paying clients. It is not clear how durable their competitive advantage is compared to other online brokerage companies. For this reason, for growth investors, a small position probably makes sense. 
    <br/>
   <br/>
  <br/>
 </div>
</div>