<br/>
<div class="blog-format">
<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/EXHnsrG_kQAZ3bmwWtPp18mYbDOLTCF_2kJv7WeTNDO_tlv43TZavn1Udcf0kQYkTqWNxel3B_plMHgYPetrrtelZQUllS67a4P6uQNTxKfovKwUHuSPrQbAgQ8XE0T4YYAa6Zzy" alt="">
  <figcaption>Source: Recreated from Prosus Capital Markets Day 12/3/2019. Market caps as of 6/25/2020</figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Investment Summary </u>
<br/>

- Prosus, which is Latin for “forward”, is Europe’s largest consumer internet company and second largest publicly traded European tech company behind SAP. 
- Prosus invests in young tech companies with an emphasis on emerging markets. It’s largest asset is a massive 31% stake in Tencent worth around $186 billion.
- Prosus has “hidden” value. It was spun off in 2019 from Naspers, a South African conglomerate, because Naspers consistently traded at a discount to its net asset value. 
Investing in Prosus is a bet on a) management’s continued ability to help technology companies scale and grow and b) the discount to net asset value decreasing over time.
<br/>
<br/>

##  <u> Prosus Overview </u>
<br/>

Prosus is a global consumer internet company. It invests in technology companies around the world with stakes in public and private companies. The company’s largest and most successful investment is a large stake in Tencent. The company has several investments in e-commerce and has developed a specific expertise in online classifieds, payments, and food delivery sectors. Prosus has a primary listing on Euronext Amsterdam (AEX:PRX) and a secondary listing on the Johannesburg Stock Exchange (XJSE:PRX). 
Prosus was spun-off in late 2019 from Naspers, a large South African media conglomerate that trades on the Johannesburg Stock Exchange. Naspers put its interests outside of South Africa into this new company. Naspers views Prosus as a Napsers company and as a result only floated 26.2% of Prosus’ shares on the day of the IPO. It not only maintains a majority stake but retains a majority of the voting shares. Naspers has a dual-class shareholder structure and reproduced this shareholder structure for Prosus, giving it exclusive control over the company. Naspers holds the unlisted A shares. Each A share carries 1000 votes while Naspers listed N ordinary shares only carry 1 vote each.
<br/>

Naspers consistently traded at a discount its net asset value (NAV) for years. According to Naspers they had two main goals by listing on the Euronext Amsterdam:
- Expand the investor base. CEO Bob van Dijk told reporters on IPO day...“The idea with today’s listing is emphatically that we find a new generation of investors here, on the Euronext, for our further growth.” 
Outgrowing the Johannesburg stock exchange. At one point Naspers accounted for 25% of the stock market’s entire value. Institutional investors were forced to sell shares to limit their risk. The South African Rand also happens to be a very volatile currency. 

- Carving out its international assets, forming a new company (Prosus), and listing on a larger, global stock exchange, Euronext Amsterdam, should allow the market to value Prosus’ assets properly...in theory. 
    Naspers outgrew its home exchange because of its incredibly successful investment in Tencent. Tencent is a leading Chinese internet company with dominant positions in social media and gaming. Naspers paid $32 million for a stake in Tencent in 2001 that is now worth around $186 billion. According to Prosus management, the company has generated a 38% IRR Including Tencent and a 20% IRR excluding Tencent on its internet investments: 
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh6.googleusercontent.com/kMkBQxyhlbfyBK-QqmLuO0qdZ5ZUlCxw7JoH2nuqRCOsBi3elm2Xxkgw8zSSePR3pAbHDvMs4gpOUCV8F6gCmAIbYm3lCGU6jdEQUKrS" alt="">
 <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</div>
<br/>
<br/>

##  <u> Prosus Investment Strategy</u>
<br/>

Naspers’ investment in Tencent transformed the company and propelled it to become Africa’s largest publicly traded company. When Naspers originally invested in Tencent, it was an unprofitable, relatively unknown company. While this investment has performed spectacularly,  Prosus does not want to rest on the success of its Tencent investment. Prosus aims to identify and invest in other early-stage, promising companies. Prosus will invest in them, acquire them, and then help them to scale quickly. None of the companies in Prosus’ portfolio were developed organically. In essence, Prosus is a venture capital company with a really large stake in Tencent that most venture capital companies would have exited a long time ago.  
<br/>

##  <u> Prosus Social & Internet Platforms</u>
<br/>

Prosus breaks down its entire portfolio into two buckets: Social & Internet Platforms and Ecommerce. Within Social & Internet Platforms, Prosus only has two holdings, a  31% stake in Tencent and a 28% stake in Mail.ru Group. 
The two investments are somewhat similar-they are both publicly traded, leading internet companies with strong moats in their core businesses. Tencent is considered to be one of the world’s most innovative companies. It is the world’s largest gaming company, and is the most popular social media in China, and has a venture capital arm with stakes in over hundreds of companies that span multiple industries. It dwarfs the size of all of Prosus’ investments combined. 
Prosus invested $165 million into Russian based Mail.ru Group in 2007. Mail.ru Group, a ~$4.7 billion company, operates the three most popular websites in Russia. It started as an email service in 1998 and has expanded into other areas such as advertising, online gaming, music streaming, ecommerce, ride hailing and food delivery. 
Prosus does not manage or have any direct influence on how these companies operate. Prosus did sell a small portion of its stake in Tencent in 2018 when the Chinese government began clamping down on the gaming industry. After completion of the sale, Prosus committed to holding its remaining shares for at least three years. It is conceivable that Prosus may slowly wind down its large holdings in these two companies over time. 
Prosus’ Social & Internet Platforms portfolio is notably more mature than the Ecommerce portfolio. Prosus believes that the future of the company primarily depends on the success of its (largely) early-stage Ecommerce assets. 
<br/>
<br/>

## <u> Prosus Ecommerce Portfolio</u>
<br/>

Within the Ecommerce portfolio there are six segments: Classifieds, Payments & Fintech, Food Delivery, Travel, Etail and Ventures. Prosus identifies Classifieds, Payments & Fintech and Food Delivery as their core segments. Below is a snapshot of all their segments and a brief description of them:
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/t9LmfMuAVBjpCXga5TIeDDEkAhH8JJodXxanijC9Bjh0yd3a0UxpKD5OXZ3t7E6frtm0fW-FVu8U_o9jQ8K2ecEW0Fq-nVB27YlUEOTE" alt="">
  <figcaption>Source: Prosus 1HFY20 Analyst Booklet </figcaption>
</figcaption>
</div>
<br/>
<br/>

- Classifieds - invests in classified ad companies similar to Craigslist. The largest asset is OLX Group, one of the world’s largest classifieds companies. 
- Payments & Fintech - invests in payments and fintech companies. The largest asset is PayU, a merchant acquirer with a leading position in India. 
- Food Delivery - invests in food delivery service companies. Owns stakes in a number of market leading companies including iFood, Swiggy and Delivery Hero. 
- Travel - owns a 5.6% stake in Trip.com (formerly Ctrip) 
- Etail  - owns a stake in eMAG, the number one digital retailer in Romania and Hungary. 
- Ventures - invests in promising next generation technology companies. Notable holdings include BYJU, creator of the most popular K-12 learning app in India. Udemy and Code Academy are US based websites that teach computer programming. 

Some of these companies are already multi-billion dollar businesses, but Prosus argues that their growth is still in the early stages. Since the Classifieds, Payments & Fintech, and Food Delivery segments are identified as core strategies, these segments will be discussed in more detail below:
<br/>
<br/>

## <u> Ecommerce Portfolio Deep Dive-Classifieds</u>
<br/>

OLX Group is the world’s largest classified business and the fastest growing one:
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh6.googleusercontent.com/quIn10vi8FTqEUoHGzCMwPJXjYVSad3rQJfo_YQTz7QPKKPlHAsCDMO4zksWNqNVpIWHDUtIPFLqolIIMRj3xnIwZbz8D2rmsYZPiNnTEMvfzrJUnENnP4EuukLHjzXOOIE9I8oF" alt="">
  <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</figcaption>
</div>
<br/>
<br/>

It operates under three main brands: OLX, Avito and Letgo. OLX is the world’s leading classifieds platform in growth markets such as Poland and Brazil. Avito is the largest classifieds company in Russia. Letgo is a U.S. based classifieds company focused on buying and selling second-hand goods. While classifieds may not seem like a high growth business, there is plenty of growth according to management. Additional interesting facts about OLX Group and its investments include:
- Monthly Average Users (MAUs) exceeds 300 million. Leaders in 29 of their 30 markets. 
- Classifieds is evolving. Buyers and sellers demand more secure, personalised and faster service. Moving beyond just advertising. OLX is offering value-added services to facilitate the buying/selling process and increase monetization options. 
- Invested in Frontier Car Group (FCG). Sellers bring their car to a FCG inspection center to obtain an inspection report. FCG will provide a quote for the car and may offer to buy it directly from the seller (FCG will resell it through a network of dealers). OLX can then assist the seller to buy a new car on its platform and also offer financing, insurance etc.   
- OLX accounts for more than 70% of all used car trade in India  
- 12% stake in Carousell, a new Singapore peer-to-peer selling app that operates across fast growing Southeast Asia. OLX previously had little exposure to this market. 
- Revenue more than doubled between FY 2017 and FY 2019 from $426 million to $875 million. OLX group achieved profitability for the first time in FY 2019. 
<br/>

OLX Group was valued at $12 billion at the end of 2019. CEO Martin Scheepbouwer estimates the value of the business can grow to $15-20 billion by 2025:
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/pHmnleNdwuhQ9WQvItOdIDEvTw3N80BY51MlH6Bms5LokI1V7r0pJ1l0Bz7aZqcBVY9utTfREEvwoCZ6wcAJivEHreJ4eOvkdi46yi9sOmGhqy3MVVaq-Z0cKOPzF0BewJBDXOn9" alt="">
  <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Ecommerce Deep Dive-Payments & Fintech</u>
<br/>

PayU, Prosus’ largest payment asset, operates as an acquirer and payment gateway. PayU enables merchants to collect and manage payments. The company has a large presence in India, but also operates in 19 other high growth markets such as Brazil and Russia.  
High growth markets are fragmented. In the West, consumers are accustomed to using physical cards with Visa or Mastercard logos. In PayU’s target markets there are 300+ different payment methods. PayU aggregates all these payment methods to provide merchants with an easy solution to accept all of them. Additional interesting facts about this segment:
- Only 3 out of 10 transactions are processed with Visa and Mastercard in PayU’s markets
- PayU is the largest gateway in India for ecommerce. 99 out of top 100 merchants use it.
- Developed PayU Hub - offers one API to access local payments worldwide. Helps to significantly reduce pain points for global companies operating in many regions.
- PayU has a strong partnership with Adyen and helps to serve their own merchants.
- Investing beyond its “core payments” platform to offer credit services since many middle class Indian consumers do not have traditional credit
- Developed LazyPay-a credit product using an alternative scoring model built from scratch to offer “buy now, pay later”. 
- Active investor outside of India. Large investments in Red Dot Payment and Remitly. 
- Red Dot is a Singaporean payment gateway operating in Southeast Asia. Remitly is a leader in digital remittances from the U.S. to India and other growth markets. 
- PayU’s total payment transactions and total payment volume is up 44% and 32% respectively between 2017-2019. Payment volume reached $30 billion in FY 2019. 
<br/>
<br/>

PayU is currently valued at $3 billion. It’s “core payments” platform is profitable, but the expansion of credit initiatives has hurt overall profitability in the short run. Nevertheless PayU CEO Laurent Le Moal believes that the value of PayU, currently valued at $3 billion, will become a $15 billion business in 2025 by continuing to focus on the Indian market, expanding credit services and further acquisitions:
<br/>
<br/>
<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/YM4k7j2FJQe4Sm2U75fVLvr8-QvWgR2Eh3rvgQIyAM7gJDQFpjUNZ4pTbP20JPhhRzKJB9Z8s6kJCUEwwPsLBAzn7jsZaIv82oKCxev3tTwOzwcdqqojFNgBOGpaKo_N0RobFVWw" alt="">
  <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Ecommerce Deep Dive-Food Delivery</u>
<br/>

Food delivery is an area that Prosus’ management sees substantial growth. Prosus’ management indicated that it will be the company’s largest area of investment in FY 2020. It also happens to be Prosus’ least profitable segment. 
Prosus’ food delivery portfolio consists of 3 major companies: iFood, Delivery Hero and Swiggy. These 3 companies have a presence in 40 markets such as Brazil, India, Saudia Arabia etc. and are leaders in 36 of them. In 1H FY 2020, these three platforms saw orders increase 110% year on year and GMV increasing 81% year on year. Prosus has amassed a food delivery company portfolio worth $4.5 billion dollar :
 <br/>
<br/>
<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/mqmYH5cX86ObX5MkAXcUwmAPRmNc4lpv9tRJDmE-L3xmTXmT4nVqmvebswj-d0zMlhmkgRcx--akqeqc447MfH5xI35s0uDtsxVBhDMeZRqYxJYij4ZAXrwyll1lONXw-oLD3Y-F" alt="">
  <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</figcaption>
</div>
<br/>
<br/>

According to Larry Illg, CEO of Prosus Ventures and Food, Prosus entered the food delivery market for the following few reasons:
- Not fully addressed by technology.
- No global leader in the space.
- Everyone needs to eat. Big area of consumer spend
<br/>

Prosus first invested in iFood in 2013 with a $2 million investment and later committed an additional $400 million in 2018. Prosus subsequently became a controlling shareholder. iFood is the leading food delivery platform in Brazil. It operates in over 800 cities and delivers over 20 million orders per month. CEO Fabricio Bloisi believes that A.I. will completely change how people eat around the world. AI enables a new level of efficiency by providing the following:
- Dynamic pay for drivers to balance demand/supply (similar to ride sharing like Uber).
- Utilizing tech to help batch multiple orders per delivery and lower costs.
- Tailored routes to decrease delivery times.
<br/>

Prosus originally invested in Swiggy in 2017 with a $61 million investment. At the time it was operating in 7 Indian cities. Prosus has cumulatively invested over $800 million and holds a 38.8% stake in the company. Similar to iFood, Swiggy believes in the power of A.I. to transform the food delivery business. The investments in Swiggy and iFood are bearing fruit, according to CEO Illg, as witnessed by their top-notch customer retention in comparison to their global peers. Swiggy ranked number one among all its global peers:
Prosus’s third investment in food delivery was in 2017 for a stake in Delivery Hero, a publicly traded German company with operations in several countries. After a subsequent investment, Prosus now cumulatively owns a 22.2% stake. Delivery Hero has the largest global food network outside of China with 500,000 restaurant partners. According to Delivery Hero, it is far outperforming its peers with orders increasing 92% YoY in Q1 2020. The company also owns a stake in Just Eat Takeaway, a Dutch food delivery platform. Prosus unsuccessfully attempted to purchase Just Eat in a hostile takeover after Takeaway and Just Eat had already agreed to merge forces.  
No major food delivery company is profitable. Despite that, CEO Larry Illg hopes to more than triple the size of their food business from $4.5 billion to $15 billion by 2025:
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh3.googleusercontent.com/EADAwRrj23YrFkmLnnrolvolrefL4iKR3TplGyOTvDXP2Eroyiiq9nuEOXqgLZ_vd6hbwu1l4wso7KSip6arYxTji_bkqc6INiS_iZOOv1gkmRwx9Fyv3nT1F1CbWbCdBJPVMniG" alt="">
  <figcaption>Source: Prosus Capital Markets Day 12/3/2019 </figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Travel, Etail and Ventures Portion of Ecommerce Segment</u>
<br/>

Travel, Etail and the Ventures segments are not considered core parts of the Ecommerce portfolio. 
In Travel, Prosus holds a 5.6% stake in Trip.com (formerly Ctrip.com), China’s largest online travel agency. Prosus previously owned a stake in MakeMyTrip, an Indian online travel company, but exchanged it’s 43% interest in MakeMyTrip with Trip.com for a 5.6% stake.
The only asset comprising the Etail segment is eMag, a leading digital retailer in Romania and Hungary. This segment was previously larger when Prosus owned a stake in Flipkart, an Indian ecommerce company, but later sold it to Walmart in 2018. Prosus cumulatively invested $616 million and later sold it to Walmart for $2.2 billion, representing an IRR of 32%.  

The Ventures segment contains promising next generation technology companies that have the potential to disrupt large markets. Companies in this segment include Udemy and CodeAcademy, two well-known online platforms to learn computer programming. Prosus invested $80 million in 2019 in Meesho, an education, health, mobility and social online marketplace in India. The largest asset is a stake in Byju’s, creator of the most popular K-12 learning app in India. Byju was recently in talks to raise money at a $10 billion valuation.
<br/>
<br/>

## <u>Management</u>
<br/>

Prosus management all comes from Naspers. Koos Bekker, previously CEO of Naspers and now Chairman of the Board of Directors, is also the Chairman of the Board of Directors at Prosus. Bekker became CEO of Naspers in 1997 and was credited with transforming the company from a newspaper publisher into a profitable cable TV business. Bekker also led the incredibly successful investment in Tencent. During Bekker’s tenure as CEO from 1997-2014, he negotiated stock option grants as his only payment over his 17 years at the company. While incredibly risky, one could argue that certainly helped to align his interests with shareholders. Bekker is now a billionaire. 
Current Prosus CEO, Bob van Dijk, is also the CEO of Naspers. He was the CEO of Allegro, a Polish ecommerce company, which Naspers invested in and successfully exited for a 1.6x return on investment. Bob has over 15 years of experience in online growth businesses primarily in his roles at eBay and Schibsted. 
<br/>
<br/>

## <u> Valuation Dislocation Continues </u>
<br/>

The valuation discrepancy continues to exist at both Prosus and majority owner Naspers. As a result, in January 2020 Naspers sold an additional 22 million shares of Prosus in order to buy back its own stock. Naspers traded at a steeper discount to net asset value compared to Prosus, so Naspers essentially sold a cheap stock (Prosus) to buy its own, cheaper stock. This only slightly decreased Naspers stake with the free float in Prosus increasing to 27.5%. 
Why does the valuation discount continue to exist despite the international listing? The reasons are likely as follows:
- Investors want the company to spin out the Tencent stake directly to them. Prosus is a holding company containing technology assets and it does not control its largest asset. The market feels that Prosus deserves a conglomerate discount. 
- There is substantial risk that Prosus will leverage its large stake in either Tencent or Mail.ru Group to make risky bets. Will management invest the dividends it receives from Tencent or any further stake sales prudently? 
- Prosus acts like a venture capital company. Venture capital companies typically use high discount rates to value their investments and Prosus is no exception. 
- Prosus is valued as an extension of Naspers. If Naspers traded at a discount for so many years, and Naspers decided to reproduce the exact same shareholder structure for Prosus with the only difference being that it is listed on another exchange, should the valuation gap really disappear entirely?  
<br/>

Below is a simple SOTP analysis to try and approximate the Prosus’ valuation discount.The current market cap represents an approximate 45% discount to Prosus’ equity value:  
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh3.googleusercontent.com/6x-Dv7jGnGsylwtS10dj686uRf5Q7eCMIF7qHW5OPRMCjWgGfg5FWN8l5ngbTE08Ndzb9tcFL0cF3SV3l-ze8L_cuAX6B4OTUIUIb_Ktt3a4l4wRZpaAEoOMq1rMr_K6TatsrHR0" alt="">
  <figcaption>Source: Valuation methodology in footnote </figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Conclusion</u> 
<br/>

The market has yet to unlock the “hidden” value in Prosus nine months after the company went public. Listing Prosus on the Amsterdam Euronext exchange might help to eventually unlock some value. 
Prosus management argues that the Prosus shareholder structure is necessary for the company’s future. This structure ensures that Prosus remains an independent company, provides assurance to its partners that it is a committed long-term partner, and allows the company to maintain deep investment cycles so it can maximize the long term value of the company. 
Those bullish on the company might argue that the market will recognize the full value of Prosus’ assets overtime and value investors will want to take advantage of the discount. Naspers has achieved a 20% IRR excluding Tencent. Prosus’ core ecommerce segments are still growing quickly. Many of the portfolio companies are market leaders and they are poised to expand even more. The investor base should expand materially as Prosus becomes eligible for inclusion in global indices such as FTSE or MSCI. These factors combined should be sufficient reason for Prosus’ discount to lessen over time.
Bears might argue that the valuation discount will continue indefinitely unless Prosus management takes concrete steps to address investor concerns. Separating out the international assets was the right move as the company outgrew the Johannesburg Stock Exchange and the move to a larger exchange has likely attracted a new investor base,  nevertheless the valuation gap still exists. 
 It seems unlikely that the market will “fully” value Prosus anytime soon. The valuation discount may go down slowly over a long time. However, investing is about putting your capital to the best use now. Investors may not be willing to wait that long. Prosus’ portfolio contains interesting assets so investing a small amount of money might make sense, but for investors looking for exposure to faster growing companies in emerging markets, it might be easier to invest in Tencent directly. Tencent (in blue) has outperformed Naspers (in red) for some time:
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh5.googleusercontent.com/twhGyfQ9JyNzuUmkTiNmfo1ANobu-YS118G6WSxzKN89f92O7tfmFZTMo2ox9AqPnv-sHbH0Mo5h6Cd8xvVozoHBfgvWElueAAtbySePfBfry1rPL1tNyEGyryAgBT84Drw1HT4N" alt="">
  <figcaption>Source: Valuation methodology in footnote </figcaption>
</figcaption>
</div>
<br/>
<br/>

 At the end of the day Prosus is an extension of Naspers. Naspers seems unlikely to change its dual class share structure as the company has had a dual class share structure since its original listing on the Johannesburg Stock Exchange. It also seems unlikely that  management will spin off shares of Tencent directly to shareholders. When Naspers announced that it was lowering its stake in Tencent in 2018 from 33% to 31%, the company stated that it was using the proceeds to invest in its core Ecommerce segments. Investors must trust Prosus that it is making the right decision by using those proceeds to invest in riskier companies. Listing in Europe was certainly the right move as Naspers outgrew the Johannesburg Stock Exchange but it clearly did not solve the problem (yet). 
</div>