<div class="blog-format">
<br/>
Investing in Sea Limited (NYSE:SE) provides investors the opportunity to gain exposure to the digital transformation occurring in one of the fastest growing regions in the world-Southeast Asia. Sea is a market leader in online gaming, e-commerce and digital payments. Sea’s adjusted revenues grew from $348 million to $2.9 billion from 2016 to 2019 and the company is just getting started.
<br/>
<br/>

##  <u> Company Overview </u>
<br/>

- Sea Limited is Southeast Asia’s leading internet company.  
- Founded in 2009 as a digital entertainment business, the company has expanded into e-commerce and digital financial services. 
- Backed by Tencent-a key strategic partner that owns 25% of the company.
- Sea Limited’s targeted markets are experiencing a generational shift in the digital economy that is still in the early stages. Sea is well poised to benefit from this trend.
<br/>

##  <u> Overview</u>
<br/>

Sea Limited is a leading Southeast Asian e-commerce, fintech and digital entertainment company based in Singapore. Founder and Chairman and CEO Forest Li has run the company since its inception in 2009. Sea’s mission is ”to better the lives of the consumers and small businesses with technology” via three key businesses:  
1. Garena: a digital entertainment platform
2. Shoppee: E-commerce platform
3. SeaMoney: Digital Financial Services platform
Sea operates primarily in the Greater Southeast Asia markets of Indonesia, Taiwan, Vietnam, Thailand, the Philippines, Malaysia and Singapore.  The company has recently expanded several platforms to other emerging markets in Latin America and India. Total adjusted revenue has grown from $348.9 million in 2016 to $2.9 billion at the end of 2019:
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh3.googleusercontent.com/zlXvZcFR6R5Ojg6qpIwbCFcbhM23SLiIYhiQ6Eqwg2RMNdvoVHjvm_kJXa0uxkjN0x4UMGMNUBRtqnI6TCjSK8g45UUUfv8ZrV8ROmvcmWaax1WT9uCkRQu4gPnGOlIG2w81yQFz" alt="">
 <figcaption>Source: Author’s calculations from company filings</figcaption>
</div>
<br/>

##  <u> Garena</u>
<br/>
Garena is Sea’s largest and most established business unit. Garena primarily focuses on offering mobile and PC online games. Additionally, Garena organizes esports and community building activities to engage its user base. According to market intelligence firm Newzoo, the esports audiences in Southeast Asia will reach 290 million by 2021.     	
In December 2017, the company launched its first ever in-house developed game, Free Fire. Free Fire is a battle royale genre which has exploded in popularity. Free Fire is similar to other popular battle royale games such as PUBG and Fortnite. Free Fire was the most downloaded mobile game globally in 2019 according to App Annie. 
Sea continues to innovate and invest in this business. It has a game developer studio in China with more than 400 developers. In January 2020, Sea acquired Phoenix Labs, a game development studio based in Canada and the creator of the popular game Dauntless. This acquisition should help Sea to bring more content to its key markets. 
In regards to licensing games, one of Garena’s key strengths is the ability to tailor and distribute games to different local markets. Garena is the exclusive operator of Arena of Valor, a mobile game developed by Tencent. Tencent has granted Garnea a right of first refusal to publish Tencent’s mobile and PC games in several Southeast Asian markets.  
Lastly, Garena organizes esports competitions annually and operates the largest mobile-game professional league in Southeast Asia, Taiwan and Brazil. This helps to further strengthen and engage the gaming community. Newzoo estimates that esports market will reach $1 billion in revenues in 2020.
<br/>
<br/>

##  <u> Garena Growth Trends:</u>
<br/>
Garena is Sea’s most mature and only profitable business with a positive adjusted EBITDA margin of 58.2%. Garena accounted for 56.1% of adjusted revenue as of Q1 2020. Sea highlights adjusted revenue to help evaluate the operating performance of Garena as it better represents an approximation of actual cash spent by users. Q1 2020 highlights include:
- Adjusted revenue grew 30.3% YoY to $512.4 million 
- Adjusted EBITDA grew 32.2% YoY to $298.4 million
- Quarterly active users grew 48.0% YoY to 402.1 million
- Quarterly paying users grew by 72.5% to 35.7 million
- Free Fire hit a peak of high 80 million DAUs and became the highest grossing mobile game in Latin America and Southeast Asia 
- In April 2020, Free Fire monthly paying users doubled YoY and India accounted for 10% of monthly active users
- Partnering with Joe Taslim, a popular Indonesian actor and Mortal Kombat star, to create an in-game character in Free Fire called Jota based on his martial arts skills. 
- Partnering with Amol Parashar, a popular Indian actor, to produce videos highlighting Free Fire’s key features. It quickly went viral and had 37 million views on YouTube. 
- Partnering with James Rodriguez and David Ospina, two popular Columbian soccer players, to host an online charity tournament
- Recorded over 90 million online views for Free Fire’s esports events globally 
<br/>
<br/>
<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh6.googleusercontent.com/N2Ev7TUYEV7KNuplZ93l-ufYV_pMvFS8AmoB3fIjClSaomg2gbKOXEhHq-REw_djXrWozD9ktHWRbhqc-wPltNbjuBrEyVOBwLuKEjAi" alt="">
 <figcaption>Source: Sea’s Q1 2020 Press Release</figcaption>
</div>
<br/>
<br/>

## <u> Shopee</u>
<br/>
Shopee is Sea’s ecommerce platform. Sea built Shoppee to be a mobile-first platform that helps connect buyers and sellers. Shopee provides payment, logistics, fulfillment and other value-added services for users. Sea also tries to drive engagement by adding a gaming element where users can follow, rate and play micro-games with one another. At the end of 2019 it was the region’s largest e-commerce platform by GMV and total orders according to consultancy firm Frost & Sullivan.
Shopee provides sellers with a range of options like “Service by Shopee”, providing sellers with inventory management, online store operations and fulfillment services. Shopee also understands how critical logistics is and will sometimes provide last-mile delivery services to compliment existing third-party logistics companies or make strategic investments in local logistical partners.  
The company primarily makes money on Shopee through paid advertising, charging transaction based-fees and for certain value-added services. Sea also will buy products from manufacturers and third parties to sell on the Shopee platform.
Sea is investing heavily in this segment and competes with another strong regional player, Alibaba-backed Lazada. These are the two largest e-commerce companies in the region. Given the size of the market, there is likely room for both companies to succeed. 
<br/>
<br/>

## <u> Shopee Growth Trends</u>
<br/>
Shopee accounted for 34.4% of Sea’s total adjusted revenue in Q1 2020. Highlights in Q1 include:
- GMV reached a record high of $6.2 billion dollars growing 74.3% YoY
- Total orders grew 111% Yoy to $429.8 million. In April this YoY growth accelerated to more than 140%
- Shopee ranked first across Southeast Asia by downloads, monthly active users and total time in app on Android. Shopee ranked third globally by downloads across the iOS and Android platforms 
- Indonesia registered over 185 million orders in the first quarter, a 123% YoY increase. 
- Adjusted revenue grew 111% YoY to $314.0 million. 
- Adjusted EBITDA loss per order declined 48% YoY to $0.60, highlighting the company’s ability to scale efficiently and improve unit economics.  
- Launched a region-wide partnership with Procter & Gamble called “Show Me My Home”, where Shopee created dedicated microsites for each Shopee market that featured a curated selection of P&G brands. 

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh6.googleusercontent.com/9Z1eDgycuRXUyEYAR1uO4hcNDWY5B_VpC25v6JtbX-gcKrBtritybgKjK6ZdSVKP-ndnQZddBWBqrqwM5C9QqmJvYUaC5dpxB2_ecGTw" alt="">
  <figcaption>Source: Sea’s Q1 2020 Press Release </figcaption>
</figcaption>
</div>
<br/>
<br/>

## <u> Sea Money</u>
<br/>
SeaMoney is a leading digital financial services provider in the Southeast Asian region. SeaMoney offers services such as e-wallet, payment process, credit related financial offerings and other financial products. The company started offering digital financial services in 2014 under the brand Airpay, but later rebranded in 2019 as it began expanding the capabilities. 
Sea’s strategy with SeaMoney is twofold; to provide digital financial services to the underbanked and help reduce payment friction for Shopee users. SeaMoney has been expanding the e-wallet services for a variety of third-party merchants such as telecom, movie theatres, food delivery services, utility providers etc. As Sea continues to build out the number of merchants on the platform, this will help to drive more users and increase engagement.  
Similar to companies such as Square and Shopify, Sea is leveraging the wealth of data to pilot consumer credit programs under a service it calls ShopeePayLater. Sea hopes to build out its credit assessment capability. 
Sea primarily monetizes SeaMoney by charging commissions to third-party merchants for its e-wallet services and interest earned from borrowers for consumer credit. 
<br/>
<br/>

## <u> Sea Money Growth Trends</u>
<br/>
SeaMoney contributes very little in terms of adjusted revenue. In Q1 2020, digital financial services only accounted for 1.2% of total adjusted revenue. This is however a very large market; in Southeast Asia digital payments is expected to cross $1 trillion and e-wallets are expected to exceed $114 billion by 2025. Q1 2020 highlights include:
- TPV or Total Payment Volume exceeded $1 billion
- Quarterly paying users for the mobile wallet services surpassed 10 million
- More than 40% of Shopee’s gross order in Indonesia, the largest market for SeaMoney, were paid using SeaMoney’s mobile wallet services
- Partnered with Google to offer SeaMoney’s mobile wallet as a payment option for the Google Play Store in Thailand
- Applied for a digital full bank license in Singapore 

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/qrXkhI43bhFrU9sPux_qI067Or487nkkME3JWkVZa2usVHjP_nQRsa7tvUFW2uomsZo5qHU_FW4nGzDFZrvZ4aT-WG39rawRzUqKP7QJCSwK0FmnAxBNxJWIJSYqVm8HNh_86oWj" alt="">
 <figcaption>Source: Sea’s Q1 2020 Press Release </figcaption>
</div>
<br/>
<br/>

## <u> How Long can the Company Sustain Continued Losses?</u>
<br/>
As of Q1 2020, Sea had a strong balance sheet with ~$2.6 billion in cash and cash equivalents. In order to keep investing in these high growth markets, Sea issued 5 year convertible notes in 2018 and 2019: 
In May 2020, Sea priced an additional $1 billion of 2.375% convertible senior notes with a 13-day option to buy an additional $150 million of notes due December 2025. According to Sea’s press release, some of the proceeds will go towards exchanging some of the principal of the 2023 for a combination of $50 million cash and 6.9 million ADSs. 
Given how well the company has executed so far and how the digital transformation occurring in these emerging regions is still in the early stages, locking in a sub 3% interest rate seems very reasonable. Presumably the dilution resulting from convertible notes will be minimal as the company’s income and share price continue to grow. CEO Forest Li reiterated on the Q1 2020 conference call that Sea will continue to invest in growth. Sea has issued convertible notes every year since 2017 (the 2017 notes were already converted into equity shares). This trend may indicate that Sea will continue to issue convertible debt (or other forms of capital) in order to fund growth. 
<br/>
<br/>

<div style="margin: auto; text-align: center;">
<figure>
    <img style="margin: 20px auto; display: inline; max-width: 80%; min-width: 70%;" src="https://lh4.googleusercontent.com/Ql8H0ECTmGS7qyFIhlSn925N77JJuqrd2EakjkL0Z6X0QKNAVgwiw9vxG36o5Xi7BEuqMAWBcax6j1DcSKQwV0sSxQ4wEtLrL8yCz467" alt="">
</figcaption>
</div>
<br/>
<br/>

## <u> Dual Class Share Structure</u>
<br/>
It should be noted that Sea has a dual class share structure that is common among tech companies. Class A shares are entitled to one vote per share and Class B shares are entitled to three votes per share. CEO Forest Li and Tencent collectively own 63% of the voting shares, effectively giving them full control of the company. 
<br/>

## <u> Competition</u>
<br/>
Sea naturally faces competition in all its key business segments. Garena was number one in market share by revenue in the combined PC and mobile game market in 2019. Shopee was the largest e-commerce platform by GMV and total orders in Southeast Asia in 2019. SeaMoney is growing rapidly but it does not command the same relative market share compared to Garena and Shopee. 
Garena originally made a name for itself by licensing Tencent’s games before developing Free Fire. Free Fire's smashing success has helped to de-risk Sea’s digital entertainment division; the company is no longer solely dependent on licensing other gaming companies’ IP. While Garena still licenses a number of Tencent’s games, Tencent notably decided to self-publish PUBG, a popular battle royale game, in most of Sea’s key markets. In addition to Tencent, Garena has partnerships with several large gaming companies. For example, the company licenses Activision’s Call of Duty®: Mobil and EA Sports FIFA Online 3. Given Garena’s market leadership, it seems unlikely that Sea’s partners will want to make the effort to localize and self-publish their titles. The acquisition of Phoenix Labs is likely a strategic move to further become less dependent on licensing IP. 
From an e-commerce perspective on a regional basis, Shopee faces the most competition from Alibaba-backed Lazada. Alibaba acquired a majority stake in Lazada for $1 billion in 2016, and made subsequent investments in Lazada for a total of $4 billion. In 2018 Alibaba replaced the CEO with an Alibaba executive. Alibaba has publicly stated that Southeast Asia is…”a region that is a key part of Alibaba’s global growth strategy.” 
On a local basis, there are several well capitalized competitors in some of Shopee’s key markets. In Indonesia, where Shopee is the largest e-commerce platform by orders according to Sea, the second and third most popular e-commerce companies (as measured by monthly traffic) are Indondesian. The two companies, Tokopedia and Bukalapak, are both unicorns, privately held companies worth over $1 billion. Tokopedia received $1.1 billion in funding from Alibaba and Softbank in 2018 that valued the company at $7 billion. Alibaba-backed Lazada also competes in Indonesia. In Vietnam, the second and third most popular e-commerce companies are Vietnamese. One of these companies, Tiki, counts China’s second largest e-commerce company, JD.com, as a large investor with   a ~25% stake. 
<br/>
<br/>


## <u> Conclusion</u>
<br/>
Sea is growing quickly and investing a lot of money in its 3 key business segments-digital entertainment, e-commerce and digital financial services. Under the guidance of the founder, CEO and Chairman Forest Li, the company has managed to grow the business rapidly despite heavy competition. Tencent’s backing is a positive for the company; Tencent has the necessary resources and experience to support Sea’s growth. 
Risks of course remain. Sea operates in many diverse markets. The company will need to be prudent in how it adapts its products and services to the various regions. Alibaba-backed Lazada will likely continue to invest aggressively and compete with Shopee. Local e-commerce competitors, some of which are backed by strong, foreign companies, will also invest in their growth. We will need to keep an eye on how this unfolds.  
As of June 8, 2020, the share price is $90.88 representing a market cap of $42.3 billion. With 2019 adjusted revenue of $2.9 billion, the company trades for about 14.5x 2019 adjusted revenues. The company did not provide 2020 guidance. Since Q1 adjusted revenue came in at $913.9 million and CEO Forest Li was quite upbeat on the Q1 conference call, I would not be surprised to see Sea hit at least $4 billion in adjusted revenue for 2020. This helps to make the valuation more palatable. Growth investors looking for exposure to the digital transformation happening in Southeast Asia, along with Latin America and India, might consider investing in Sea.  
<br/>
<br/>
</div>
<br/>
<br/>
<br/>